<div [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>User name</mat-label>
    <input matInput formControlName="username" autocomplete="off" data-test="username">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" data-test="password">
  </mat-form-field>

  <button mat-button color="primary" [disabled]="form.invalid" (click)="login()" data-test="submit">Login</button>
</div>
