:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  mat-icon {
    margin-right: 20px;
  }

  .labs-title {
    font-size: 42px;
    display: flex;
    > div {
      margin-left: 20px;
    }
  }
}
